<strong>Hello {{ name }}!</strong>
<p>You have a new subscription from {{ subscriberName }}</p>
<span>Here's some more info:</span><br />
<span>Title: <strong>{{ title }}</strong></span><br />
<span>Location: <strong>{{ location }}</strong></span><br />
<span>Date: <strong>{{ date }}</strong></span><br />
<figure>
  <img src="https://i.kym-cdn.com/entries/icons/original/000/027/080/1521578086856.png"
    style="max-width: 100%; height: auto" />
  <figcaption>Take this Komi-chan photo with you, that you should.</figcaption>
</figure>
